:root{
	--color-grayed: #606060;
}

body, html{
	margin: 0;
	padding: 0;
}

body {
	padding-top: 1.5rem;
}

@media print{
	a {
		text-decoration: none;
		color: black;
	}
}

aside{
	font-size: 0.75rem;
	transform: translate(0, -3px);
	color: var(--color-grayed);
}

ul {
	margin: 0;
	padding: 0;
}
li {
	margin: 0;
	list-style: none;
}