:root {
	--color-grayed: #404040;
}

body,
html {
	margin: 0;
	padding: 0;
	background-color: #bbbbbb;
}

h2 {
	font-size: 6mm;
}

body {
	min-width: 100vw;
	min-height: 100vh;
}

@page {
	margin: 0;
	background-color: white;
}

@media print {
	a {
		text-decoration: none;
		color: black;
	}
	body {
		display: unset;
		justify-content: unset;
	}
}

aside {
	font-size: 1rem;
	transform: translate(0, 0px);
	color: var(--color-grayed);
	margin-bottom: 0.5rem;
}

ul {
	margin: 0;
	padding: 8px 16px;
}
li {
	margin: 0;
}

.italic {
	font-style: italic;
}

* {
	box-sizing: border-box;
	font-size: 4mm;
}
